{% block styles %}
    <style>
        .card-img-left {
            max-height: 150px;
            float: left;
        }
    </style>
{% endblock %}
<div class="container" style="padding-top: 30px" id="listOfCars">

</div>

{% block scripts %}
    <script>
    window.api = {};
    window.api.getRecommendedAds = function () {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if(this.readyState === XMLHttpRequest.DONE) {
                let mobiles = JSON.parse(this.response);
                let listOfCars = document.getElementById('listOfCars');

                mobiles.forEach(function (carObject) {
                    listOfCars.innerHTML += window.createCarCard(
                        carObject.name, carObject.description, carObject.image, carObject.price)
                })
            }
        };
        request.open('GET', '/advt/');
        request.send()
    };
    window.createCarCard = function (name, description, image, price) {
        return `
    <div class="card w-75">
        <div class="card-body text-right">
            <img class="card-img-left" src="${image}">
            <h5 class="card-title">${name}</h5>
            <p class="card-text">${description}</p>
            <p class="card-text">${price}$</p>
        </div>
        <div class="card-footer">
            <button class="btn  my-2 my-sm-0" type="submit">Contact</button>
            <button class="btn  my-2 my-sm-0" type="submit">Park</button>
        </div>
    </div>`
    };
    window.api.getRecommendedAds();
    </script>
{% endblock %}
